{% extends 'layouts/layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %} Crear articulo {% endblock  %}</title>
</head>
<body>
    {% block content %}
    <h1> Formularios en Django </h1>
    <form action = "{% url 'save' %}" method = 'GET'>
        <label for='name'>Titulo:
    {% endblock %}
</body>
</html>